<div class="wrapper">
    <!-- Nabvar -->
   <app-nabvar></app-nabvar>
   <!-- Nabvar -->
   
     <!-- Main Sidebar Container -->
    <app-sidebar></app-sidebar>
   
     <!-- Content Wrapper. Contains page content -->
     <router-outlet></router-outlet>
     <!-- /.content-wrapper -->
 
 
       <!-- Footer -->
   <app-footer></app-footer>
       <!--Footer -->
 
 
     <!-- Control Sidebar -->
     <aside class="control-sidebar control-sidebar-dark">
       <!-- Control sidebar content goes here -->
     </aside>
     <!-- /.control-sidebar -->
   </div>
 